
body {
  background-color: #FFFBEB;

}
  
  
header {
  color: #FFAE35;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  /* background-color:#11354D; */
border-radius: 30px; 
margin-inline: 400px; 
padding-top: 10px;
;}
  

.giris {
  color: #231f1f;
  text-align: center;


}
  

p {
  
  color: #141414 ;}

h3 {
  color: #838386 ;}


a:link {

  color: #8C0303;}

a:visited {

  color:#141414}



footer {
  background-color: #11354D;


}

.contact-me { 
  background-color:#FFAE35;
  color: #11354D;
  padding-left: 10px;
  

}

footer li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  
}
footer li a:link {
  color: #FFAE35;
}

